:host {
  overflow: hidden;

  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  ::ng-deep slide {
    width: 100%;
    flex-shrink: 0;
  }
}
