:host {
  .slider-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: 40vw;

    &.transition-effect {
      transition: transform 0.7s ease-in-out;
    }
  }

  .slider-footer {
    .slider-points {
      ul {
        padding: 0;
      }
      ul > li {
        display: inline-block;
        list-style: none;
        background: #087;
        border-radius: 100px;
        width: 8px;
        height: 8px;
        margin-right: 3px;

        &:hover {
          background: #099;
          cursor: pointer;
        }

        &.selected {
          background: #099;
        }
      }
    }
  }

  ::ng-deep slide {
    width: 100%;
    flex-shrink: 0;
  }
}
